.testings {
  text-align: center;
}
.testings .cloud {
  display: inline;
  list-style-type: none;
  margin: auto;
}
.testings .cloud li {
  list-style: none;
  display: inline;
  margin: 0.1em;
}

/* Random sizes */

.testings .cloud li:nth-of-type(2n + 1) {
  font-size: 1.25rem;
}
.testings .cloud li:nth-of-type(3n + 2) {
  font-size: 1.5rem;
}

.testings .cloud li:nth-of-type(5n + 3) {
  font-size: 1rem;
}
.testings .cloud li:nth-of-type(7n + 5) {
  font-size: 2rem;
}

.rounded {
  border-radius: 100px !important;
}
