.profile-img {
  width: 50px;
  border-radius: 200px;
}

.profile-link {
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-meta > * {
  margin: 0 0.5em;
}

.profile-link:hover {
  color: #444;
  text-decoration: none;
}

.btn-contact {
  margin-top: 5px;

  float: right;
}
