.btn-outline-white {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn-outline-white:hover {
  background-color: white;
  color: #212529;
}

body {
  background-color: #f4f4f4;
}
.container {
  background-color: #fff;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

h1 {
  padding-top: 0.5em;
}

b {
  font-weight: bold;
}
a {
  color: #035056;

}
a:hover {

}
.bg-cp {
  color: #fff;
  background-color: #035642
}