.navbar {
  background-color: #fff;
}

.navbar a {
  color: #036542;
}

.dropdown-item a {
  color:inherit;
}

.dropdown-item a:hover {
  text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #035642;
}
.nav-link:hover {
  color:#035642;
  background-color:#f9f9f9;
}

.navbar-brand {
  font-size:1.5rem;
}