.job {
  padding: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.1s all ease-in;
  cursor: pointer;
  display: block;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 1;
  color: #444;
  background: #fff;
  border-radius: 0.25rem;
}

.green {
  color: #035642;
}

.job:hover {
  color: #035642;
  background-color: #f6f8f6;
}

.job h4 {
  margin: 0;
}

.category {
  color: #444;
  background-color: white;

  border-radius: 3px;
  padding: 0.5em 1em;
  transition: 0.15s ease;
  display: inline-block;
}
.category {
  margin-right: 0.5em;
  border: none;
}
.category:focus {
  outline: none;
}
.category:hover {
  background-color: white;
  cursor: pointer;
  color: #444;
  background-color: #03564210;
}

.active-tab {
  border-bottom: 2px solid #03564280;
  background-color: #03564210;
}

.filters {
  margin: 0.5em auto;
  width: 80%;
}
.input-range {
  max-width: 50%;
  margin: auto;
  display: none;
}

.input-range__label {
  color: #1f1f1f !important;
  font-family: inherit !important;
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #035642;
  border: 1px solid #035642;
}

.input-range__track--active {
  background: #035642;
}

.search-bar {
  width: 100%;
  margin: 0.5em auto;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
