@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Rubik|Nunito+Sans:400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.typekit.net/ovo1tad.css");
@import url('https://rsms.me/inter/inter-ui.css');

body {
  margin: 0;
  padding: 0;
  /*font-family: "Nunito Sans", "Roboto", sans-serif !important;*/
  font-family: 'Inter UI', iskra, acumin-pro, sans-serif !important;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
